<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Form</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	
	<header>
		<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" th:href="@{/}">Student Management System</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
		    	aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="@{/studentsList}">Students</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="teachersPage">Teachers</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/signaturesList}">List of Signatures</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
	
	<main>
		<h1 class="text-center mt-3 mb-3">Register Form for New Student</h1>
	
		<div class="container-fluid">
			<div class="row d-flex flex-column justify-content-center align-items-center">
				<form th:action="@{/registerStudent}" th:object="${student}" method="POST" 
				class="col-4">
					<div class="mb-3">
					  <label for="name_student" class="form-label fw-bold">Student Name</label>
					  <input type="text" class="form-control" th:field="*{nameStudent}" id="name_student" placeholder="Enter your name"
					  	th:errorClass="is-invalid">
					  <span th:if="${#fields.hasErrors('nameStudent')}" class="invalid-feedback" th:errors="*{nameStudent}"></span>
					</div>
					<div class="mb-3">
					  <label for="lastname_student" class="form-label fw-bold">Student LastName</label>
					  <input type="text" class="form-control" th:field="*{lastNameStudent}" id="lastname_student" placeholder="Enter your Lastname"
					  	th:errorClass="is-invalid">
					  <span th:if="${#fields.hasErrors('lastNameStudent')}" class="invalid-feedback" th:errors="*{lastNameStudent}"></span>
					</div>
					<div class="mb-3">
					  <label for="birthday_student" class="form-label fw-bold">Student Birthday</label>
					  <input type="date" class="form-control" th:field="*{birthdayStudent}" id="birthday_student" th:errorClass="is-invalid">
					  <span th:if="${#fields.hasErrors('birthdayStudent')}" class="invalid-feedback" th:errors="*{birthdayStudent}"></span>
					</div>
					<div class="mb-3">
					  <label for="email_student" class="form-label fw-bold">Student Email</label>
					  <input type="email" class="form-control" th:field="*{emailStudent}" id="email_student" placeholder="name@example.com"
					  	th:errorClass="is-invalid">
					  <span th:if="${#fields.hasErrors('emailStudent')}" class="invalid-feedback" th:errors="*{emailStudent}"></span>
					</div>
					<div class="mb-3">
					  <label for="tuition_number" class="form-label fw-bold">Tuition Number</label>
					  <input type="text" class="form-control" th:field="*{tuitionNumber}" id="tuition_number" placeholder="Enter 6-digit number"
					  	th:errorClass="is-invalid">
					  <div th:if="${#fields.hasErrors('tuitionNumber')}" class="invalid-feedback" th:errors="*{tuitionNumber}"></div>
					</div>
					
					<button class="btn btn-primary col-12 fw-bold mb-4" type="submit">Register</button>
				</form>
			</div>
		</div>
	</main>
		
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>